$formPadding: 10px;
$footerHeight: 32px; //default
$footerPadding: 2px;
form {
  padding: $formPadding!important;
  &.dirty {
    height: calc(100% - #{$footerHeight + $footerPadding})!important;
  }
  .label-left {
    margin-bottom: 10px;

    &.required .ant-form-item-label {
      label:after {
        content: '*';
        color: red;
      }
    }

    .ant-form-item-label {
      text-align: left;
      white-space: unset;
      line-height: 20px;
    }
  }
  .footer {
    height: $footerHeight + $footerPadding;
    padding: $footerPadding;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e0e0e0;

    button {
      height: $footerHeight;
      margin-right: 5px;
    }
  }
}

.ant-form-item-control {
  line-height: 18px !important;
}

.ant-form-item.with-lang .ant-form-item-children {
  display: flex;
  flex-wrap: wrap;

  .ant-input {
    flex-basis: 75%;
  }

  .ant-radio-group {
    flex-basis: 25%;
    text-align: right;
  }

  .ant-radio-button-wrapper {
    padding: 0 5px;
  }
}

.ant-form-item.with-lang--column .ant-form-item-control {
  display: flex;
  flex-direction: column;
  align-items: center;

  .ant-radio-group {
    text-align: right;
  }

  .ant-radio-button-wrapper {
    padding: 0 6px;
  }
}