#cubeTable {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  thead > tr > th {
    padding: 2px 4px;
    background-color: #f5f5f5;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: #f3f3f3;
    flex: 0 0 34px;

    &-filters {
      flex: 1;
      margin: 0 5px;
      display: flex;

      & > div {
        flex-basis: 20%;
      }
    }
  }

  &__body {
    flex: 1;
    overflow-y: hidden;
    display: flex;
    position: relative;

    .ant-table-wrapper {
      height: 100%;
      min-height: 250px;
      flex: 1;

      .ant-spin-nested-loading {
        height: 100%;
      }

      .ant-spin-container {
        height: 100%;
        display: flex;
        flex-direction: column;

        .ant-table {
          height: 100%;
          display: flex;
          flex-direction: column;

          &-content {
            height: 100%;
          }

          &-body {
            flex: 1;
          }

          &-scroll {
            height: 100%;
            overflow: hidden!important;
            display: flex;
            flex-direction: column;
          }

          .table-footer {
            display: flex;
            justify-content: space-between;

            .label {
              display: flex;

              input {
                margin-left: 8px;
                flex-basis: 80px;
              }
            }
          }

          .row-selected {
            background-color: #e0f2f1;
            cursor: pointer;
            color: #009688
          }
          .ant-table-thead {
            th {
              font-weight: 600;
              font-size: 12px;
            }
          }

          .ant-table-tbody {
            td {
              padding: 8px;
            }
            & > tr:hover > td {
              background: #e0f2f1;
            }
          }
        }
      }
    }
  }
}