.ant-tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;

  &-content {
    flex: 1;
    overflow-y: hidden;
    position: relative;
  }

  &-tabpane {
    height: 100%;
    flex: 1;
    position: absolute;
  }

  &--nav-wrap {
    padding-left: 20px;
  }

  &-content-no-animated {
    height: calc( 100% - 50px );
  }

  &-bar {
    margin-bottom: 0 !important;
  }
  &-tab {
    margin-right: 7px!important;
    font-size: 12px;
    padding-bottom: 7px !important;

    &-active {
      font-weight: 600;
      color: #009688 !important;
    }

    &:hover {
      color: #009688 !important;
    }
  }
}