.card {
  z-index: 1;
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 100%;

  &.right {
    right: 0;
  }
  &.left {
    left: 0;
  }

  &-enter {
    width: 0 !important;
    &-active {
      width: 600px !important;
      transition: width 0.3s;
    }
    &-done {
      form {
        display: block;
      }
    }
  }

  &-exit {
    width: 600px;
    &-active {
      width: 0 !important;
      transition: width 0.3s;
    }
  }

  .ant-form {
    height: 100%;
    overflow-y: auto;
    padding: 5px 10px 0;

    &-btns {
      z-index: 99;
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      box-shadow: 0 -1px 5px 0;
      background: #fff;
      margin-bottom: 0;
      padding: 5px;
    }
  }

  &__inner {
    height: 100%;
    position: relative;
    background-color: #f5f5f5;

    .handleBar {
      display: flex;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: 10px;
      z-index: 9;
      cursor: e-resize;
      background-color: rgba(200, 200, 200, 0.3);

      &.mouse-down {
        width: 400px;

        .handleBar-bar {
          background-color: #f1f1f1;
        }
      }

      &-bar {
        height: 100%;
        width: 10px;
      }
    }

    & > button {
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -25px;
      top: 1px;
      z-index: 10;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}