.react-select {

  &__menu {
    z-index: 11!important;
  }

  &-container {
    //height: 30px;
    width: 100%;
  }

  &__option {

    &--is-focused {
      background-color: #E0F2F1!important;
    }

    &--is-selected {
      background-color: #009688!important;
    }
  }

  &__multi-value__remove {
    padding: 0!important;
  }

  &__control {
    //height: 30px;
    min-height: 28px!important;

    &--is-focused {
      box-shadow: 0 0 0 1px #009688!important;
      border-color: #009688!important;
    }

    &:hover {
      border-color: #009688!important;
    }

    .react-select__value {
      line-height: 28px !important;
      //overflow-y: auto;
      //display: flex;
      height: 28px;
      min-height: 28px;
      margin-top: 0;
      color: #009688;
      background-color: #e0f2f1;

      &-container {
        :not(.react-select__placeholder) {
          height: 20px!important;
          display: flex;
          align-items: center;
        }
      }
      &-icon {
        height: 100%;
        line-height: 20px;
      }
    }

    .react-select__input {
      //height: 28px;
      min-height: 28px;
    }
  }

  &__indicators {
    & > div {
      padding: 2px!important;
    }
  }
}

.long-selected-menu {
  .react-select__menu {
    min-width: 300px;

    .ReactVirtualized__Grid {
      min-width: 300px;
      width: 100%!important;

      &__innerScrollContainer {
        max-width: unset!important;
      }
    }
  }
}