.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 16px !important;
}

.ant-menu-inline .ant-menu-submenu-title {
  padding-left: 16px !important;
}

//.ant-menu-item {
//
//}

.ant-menu-inline-collapsed {
  width: 50px !important;
}