footer {
  height: 20px;
  background-color: #009688;
  font-size: 11px;
  padding: 2px 40px;
  color: #e0f2f1;
  width: 100%;
  transition: .3s;
  text-align: right;

  a {
    color: #fafafa;
  }

  .footer-text {
    margin-bottom: 0;
  }

  &:hover {
    height: 30px;
    padding-top: 5px;
    font-size: 12px;
  }
}
